
@{
    ViewData["Title"] = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data" asp-controller="DropFile" asp-action="Upload">
            <div class="form-group">
                <label> Select File </label>
                <input class="form-control" name="files" multiple="multiple" type="file" />
            </div>

            @*<div class="form-group">
                <input type="text" class="form-control" placeholder="Descriptions">
            </div>*@

            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Submit" />
            </div>
        </form>
    </div>
</div>