

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Speakers</h2>

<button><a href="@Url.Action("Viewdata","speaker")">View Speaker</a></button>
<button><a href="@Url.Action("Create","speaker")">Create new</a></button>
